.header {
  background: linear-gradient(158.74deg,#171717 43.4%,#000 113.07%);
  -webkit-clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
  clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
  z-index: 10;
  position: relative;

  .main_wrapper {
    display: grid;
    grid-template-columns: minmax(100px,150px) 1fr minmax(100px,150px);
    justify-content: center;
    grid-gap: 1rem;
    padding-bottom: 10rem;

    &--info {
      display: flex;
      align-items: center;
      position: relative;
      justify-content: center;

      &__animation-wrapper {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 580px;
        height: 580px;
        margin: -290px 0 0 -290px;
      }

      &__title {
        display: flex;
        flex-direction: column;
        font-size: 3.8541666667vw;
        text-align: center;
        padding: 10rem 0;
        text-transform: uppercase;

        span {
          color: var(--primary-normal);
        }
      }
    }

    &--btn {
      align-self: center;
      position: relative;
      border-radius: 30px;
      display: grid;
      justify-content: center;
      justify-self: end;
      width: 120px;
      height: 120px;
      box-shadow: 17.716px 17.716px 70.8639px rgba(0,0,0,.6), 13px -12px 35px -10px rgba(235,56,70,.7);
      cursor: pointer;
      transition: all .5s ease;
      outline: none;

      &:before {
        content: "";
        position: absolute;
        background: linear-gradient(90deg,#000 30%,#262626 105.54%);
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        border-radius: 30px;
      }

      &:after {
        content: "";
        position: absolute;
        background: rgba(235,56,70,.5);
        width: 85px;
        height: 85px;
        top: -3px;
        right: -3px;
        border-radius: 0 30px 0 0;
        transition: all .5s ease;
      }

      &:hover:after {
        background: #d0f34e;
      }

      &:hover {
        box-shadow: 17.716px 17.716px 70.8639px rgba(0,0,0,.6), 13px -12px 35px -10px rgba(208,243,78,.7);
      }

      &__wrapper {
        display: grid;
        justify-content: center;
        width: 120px;
        height: 120px;
        background: linear-gradient(#101010,#242424);
        border-radius: 30px;
        position: relative;
        z-index: 1;

        &--img {
          position: relative;
          display: inline-block;
          overflow: hidden;
          width: 45px;
          height: 45px;
          justify-self: center;
          align-self: center;

          img {
            width: 100%;
            height: 100%;
          }
        }

        &--text {
          font-size: 10px;
          text-transform: uppercase;
          font-weight: 300;
          color: var(--primary-quaternary);
          letter-spacing: .5px;
        }
      }

      &__border {
        z-index: 2041;
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        margin: 0;
      }
    }
  }
}

.our-works {
  width: 100%;
  height: 150px;
  -webkit-clip-path: polygon(0 0,100% 5%,100% 100%,0 100%);
  clip-path: polygon(0 0,100% 5%,100% 100%,0 100%);
  margin-top: -10.5rem;
  background: #171717;
}

