:root {
  --primary-normal: #EB3846;
  --primary-sky: #8A31E9;
  --primary-light: #FED215;
  --primary-senary: #D0F34E;
  --primary-dark: #171717;
  --primary-quaternary: #C3C1C1;
  --secondary-dark: #000000;
  --secondary-quaternary: #908F8F;
  --third-dark: #1B1B1B;
  --third-quaternary: #B5B0B0;
}

