.burger_drawer {
  display: grid;
  background: 2rem 50%/contain url('../../icons/burger-menu.svg') no-repeat,linear-gradient(0deg,#191919,#191919),#343434 !important;
  box-shadow: 0 0 10px 10px rgba(0,0,0,.7);
  border-radius: 35px 0 0 35px;
  border: 1px solid #000;
  position: relative;
  width: 500px !important;
  height: 630px !important;
  top: 30px !important;

  &--wrapper {
    max-width: 90%;
    margin: 15% auto;

    &__list {
      &--item {
        display: flex;
        padding-bottom: 1.8rem;
        transition: text-shadow .5s ease;

        &:hover {
          text-shadow: 0 0 25px rgba(235,56,70,.7);
        }

        &__link {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          line-height: 21px;
          letter-spacing: 0.1em;
          color: #FFFFFF;

          &--text {
            font-weight: 900;
            font-size: 35px;
            line-height: 45px;
            color: #FFFFFF;
            text-transform: uppercase;
            margin-left: 16px;
          }
        }
      }
    }

    &__social_links {
      display: flex;
      grid-auto-flow: column;
      padding-top: 3rem;

      &--btn {
        position: relative;
        width: 50px;
        height: 50px;
        transition: box-shadow .5s ease;
        border-radius: 100%;
        margin-right: 32px;

        &__befor {
          background: linear-gradient(120deg,#4d4d4d,rgba(0,0,0,.7) 55%);
          position: absolute;
          content: "";
          top: -2px;
          right: -2px;
          bottom: -2px;
          left: -2px;
          border-radius: 10px;
        }

        &__img {
          background: var(--primary-dark);
          position: relative;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          display: grid;
          align-items: center;
          justify-items: center;
          place-items: center;

          img {
            width: 16px;
            height: 20px;
          }
        }
      }
    }
  }
}
